// Primary Colors
$yot-black1:hsl(213, 27%, 6%);
$yot-black2:hsl(216, 19%, 11%);
$yot-black3:hsl(204, 16%, 18%);
$yot-black4:hsl(204, 26%, 31%);

$yot-orange:hsl(23, 100%, 50%);
$yot-grey:hsl(228, 3%, 32%);

// Blue
$yot-blue1:hsl(221, 70%, 45%);
$yot-blue2:hsl(197, 87%, 59%);
$yot-blue3:hsl(200, 100%, 28%);

// Pink
$yot-pink1:hsl(343, 93%, 49%);

// Yelllow
$yot-yellow1:hsl(35, 97%, 63%);

//Neutral Colors
$yot-white:hsl(0, 0%, 100%);
$yot-black:hsl(0, 0%, 0%);
$yot-red:hsl(4, 100%, 50%);
$yot-blue:hsl(207, 90%, 54%);
$yot-green:hsl(122, 39%, 49%);
$yot-yellow:hsl(54, 100%, 62%);

// Font Size
$yot-fs-t: 0.625rem !important; //10px
$yot-fs-xsm: 0.75rem !important; // 12px
$yot-fs-sm: 0.875rem !important; // 14px
$yot-fs-m: 1rem !important; // 16px
$yot-fs-l: 1.125rem !important; // 18px
$yot-fs-xl: 1.25rem !important; // 20px
$yot-fs-xxl: 1.375rem !important; // 22px
$yot-fs-jsm: 1.875rem !important; // 30px
$yot-fs-jm: 2.25rem !important; // 36px

// Font family
$yot-rhas: 'Roboto', Helvetica, Arial, sans-serif;
$yot-sas: "Segoe UI",Arial,sans-serif;
