// Flex
.yot-flex {
    display: flex;
  
    // flex-direction
    &-fd-c      { flex-direction: column; }
    &-fd-cr     { flex-direction: column-reverse; }
    &-fd-r      { flex-direction: row; }
    &-fd-rr     { flex-direction: row-reverse; }
  
    // flex-wrap
    &-fw-w      { flex-wrap: wrap; }
    &-fw-wr     { flex-wrap: wrap-reverse; }
    &-fw-rw     { flex-flow: row wrap; }
  
    // justify-content
    &-jc-c      { justify-content: center; }
    &-jc-fs     { justify-content: flex-start; }
    &-jc-fe     { justify-content: flex-end; }
    &-jc-sa     { justify-content: space-around; }
    &-jc-sb     { justify-content: space-between; }
  
    // align-items
    &-ai-c      { align-items: center; }
    &-ai-fs     { align-items: flex-start; }
    &-ai-fe     { align-items: flex-end; }
    &-ai-s      { align-items: stretch; }
    &-ai-bl     { align-items: baseline; }
  
    // Combo
    &-ai-c-jc-fe { align-items: center; justify-content: flex-end; }
    &-ai-c-jc-c  { align-items: center; justify-content: center; }
    &-ai-c-jc-sb { align-items: center; justify-content: space-between; }
    &-ai-c-jc-se { align-items: center; justify-content: space-evenly; }
    &-ai-c-jc-e { align-items: center; justify-content: end; }
  
    &-fd-c-ai-c-jc-c { flex-direction: column; align-items: center; justify-content: center; }
    &-fd-c-ai-c-jc-e { flex-direction: column; align-items: center; justify-content: flex-end; }
    &-fd-c-ai-e      { flex-direction: column; align-items: flex-end; }
    &-fd-c-ai-c      { flex-direction: column; align-items: center; }
  
    &-fd-c-c         { @extend .yot-flex-fd-c; @extend .yot-flex-ai-c; }
  
    &-fd-rr-ai-c     { flex-direction: row-reverse; align-items: center; }
    &-fd-c-ai-fe     { flex-direction: column; align-items: flex-end; }
  
    // Extra
    &-jc-s         { justify-content: space-evenly; } // space-evenly
    &-ai-b         { align-items: baseline; } // baseline
    &-ai-f         { align-items: flex-start; } // flex-start
    &-ai-s         { align-items: stretch; } // stretch
    &-ai-e         { align-items: flex-end; } // flex-end
    &-jc-sa        { justify-content: space-around; } // space-around
}
  