// Bg Div
.yot-bg-black1{
    background-color: $yot-black1 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-black2{
    background-color: $yot-black2 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-black3{
    background-color: $yot-black3 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-grey{
    background-color: $yot-grey !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-orange{
    background-color: $yot-orange !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-red{
    background-color: $yot-red !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-green{
    background-color: $yot-green !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-white{
    background-color: $yot-white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.yot-bg-blue1{
    background-color: $yot-blue1 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// Bg Btn

.yot-bg-btn-black1{
    background-color: $yot-black1 !important;
}

.yot-bg-btn-black2{
    background-color: $yot-black2 !important;
}

.yot-bg-btn-grey{
    background-color: $yot-grey !important;
}

.yot-bg-btn-orange{
    background-color: $yot-orange !important;
}

.yot-bg-btn-red{
    background-color: $yot-red !important;
}

.yot-bg-btn-green{
    background-color: $yot-green !important;
}

.yot-bg-btn-white{
    background-color: $yot-white !important;
}

.yot-bg-btn-blue1{
    background-color: $yot-blue1 !important;
}