.yot-img-circle-64{
    img{
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }
}

.yot-img-circle-128{
    img{
        border-radius: 50%;
        width: 128px;
        height: 128px;
    }
}