.yot-w{width: 100%;}
.yot-w-8-33{width: 8.33%;}
.yot-w-16-66{width: 16.66%;}
.yot-w-25{width: 25%;}
.yot-w-33-33{width: 33.33%;}
.yot-w-41-66{width: 41.66%;}
.yot-w-50{width: 50%;}
.yot-w-58-33{width: 58.33%;}
.yot-w-66-66{width: 66.66%;}
.yot-w-75{width: 75%;}
.yot-w-83-33{width: 83.33%;}
.yot-w-91-66{width: 91.66%;}
.yot-w-100{width: 100%;}