.yot-border-t{
    border-top: 1px solid $yot-orange;
}

.yot-border-r{
    border-right: 1px solid $yot-orange;
}

.yot-border-b{
    border-bottom: 1px solid $yot-orange;
}

.yot-border-l{
    border-left: 1px solid $yot-orange;
}

.yot-border-a{
    border: 1px solid $yot-orange;
}