// Percent
.yot-h-8-33{height: 8.33%;}
.yot-h-16-66{height: 16.66%;}
.yot-h-25{height: 25%;}
.yot-h-33-33{height: 33.33%;}
.yot-h-41-66{height: 41.66%;}
.yot-h-50{height: 50%;}
.yot-h-58-33{height: 58.33%;}
.yot-h-66-66{height: 66.66%;}
.yot-h-75{height: 75%;}
.yot-h-83-33{height: 83.33%;}
.yot-h-91-66{height: 91.66%;}
.yot-h-100{height: 100%;}

// View Height
.yot-vh-8-33{height: 8.33vh;}
.yot-vh-16-66{height: 16.66vh;}
.yot-vh-25{height: 25vh;}
.yot-vh-33-33{height: 33.33vh;}
.yot-vh-41-66{height: 41.66vh;}
.yot-vh-50{height: 50vh;}
.yot-vh-58-33{height: 58.33vh;}
.yot-vh-66-66{height: 66.66vh;}
.yot-vh-75{height: 75vh;}
.yot-vh-83-33{height: 83.33vh;}
.yot-vh-91-66{height: 91.66vh;}
.yot-vh-100{height: 100vh;}