.yot-tc-black{
    color:$yot-black;
}

.yot-tc-black1{
    color:$yot-black1;
}

.yot-tc-black2{
    color:$yot-black2;
}

.yot-tc-black3{
    color:$yot-black3;
}

.yot-tc-black4{
    color:$yot-black4;
}


.yot-tc-green{
    color:$yot-green;
}

.yot-tc-red{
    color:$yot-red;
}

.yot-tc-orange{
    color:$yot-orange;
}

.yot-tc-white{
    color:$yot-white;
}

.yot-tc-yellow1{
    color:$yot-yellow1;
}

.yot-tc-yellow{
    color:$yot-yellow;
}

.yot-tc-green{
    color: $yot-green;
}

.yot-tc-blue{
    color: $yot-blue;
}

.yot-tc-blue1{
    color: $yot-blue1;
}

.yot-tc-pink1{
    color: $yot-pink1;
}

.yot-tc-red{
    color: $yot-red;
}

.yot-tc-blue3{
    color: $yot-blue3;
}
