/* 1200px */
@media only screen and (min-width: 75em){  /* Extra large devices (large laptops and desktops, 1200px and up) */
    .yot-resize-font-18{
        font-size: 1.125rem; // 18px
    }
    
    .yot-resize-font-64{
        font-size: 3.5rem; // 64px
    }

    .yot-resize-font-72{
        font-size: 4.5rem; // 72px
    }

    .yot-resize-font-80{
        font-size: 5rem; // 80px
    }
}